{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <div>
            <img src="/images/avatar.png" alt="avatar" style="max-width:25%;float:left;margin-right:20px;"/>
            <p>
                {{ .Content | markdownify }}
            </p>
            <p>
                {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
            </p>
        </div>
    </div>
</article>
<h3>Latest Articles:</h3>
<br/>
{{- end -}}