<span id="{{ .File.UniqueID }}" title="{{ i18n "article.page_views" }}">- views</span>
<script>
(function() {
    var span = document.getElementById('{{ .File.UniqueID }}');
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        if (this.status >= 200 && this.status < 300) {
            try { span.innerText = JSON.parse(this.responseText).count + ' views'; } catch (e) {}
        }
    });
    r.open('GET', 'https://jgennari.goatcounter.com/counter/' + encodeURIComponent('{{ .RelPermalink }}') + '.json');
    r.send();
})();
</script>